@page
@model VLProducts.Pages.SurroundsModel
@{
    ViewData["Title"] = "Hearths, Beams and Chamber Liners Bradford";
}
<hr />
<h1><strong>Hearths, Beams and Chamber Liners</strong></h1>
<hr />
<p>We can have a range of surrounds custom made to your own specifications including Hearths, Beams and Chamber Liners.</p>
<hr />
<div class="container">
    <p><img src="~/images/metalcraftlogo.jpg" class="img-responsive" /></p>
    <h3><strong>View our range below brought to you by our leading supplier M.A.C Metalcraft</strong></h3>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <h2><strong>Hearths</strong></h2>
        <hr />
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/teardrop.jpg" alt="Teardrop Glass Hearth" title="Teardrop Glass Hearth" ; />
                <div class="caption">
                    <p><strong>Teardrop Glass Hearth</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/MCGlasshearth.jpg" alt="Semi-Circle Glass Hearth" title="Semi-Circle Glass Hearth" ; />
                <div class="caption">
                    <p><strong>Semi-Circle Glass Hearth</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/MCSquare.jpg" alt="Square Glass Hearth" title="Square Glass Hearth" ; />
                <div class="caption">
                    <p><strong>Square Glass Hearth</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/MCBlackriven.jpg" alt="Black Riven Slate Effect Hearth" title="Black Riven Slate Effect Hearth" ; />
                <div class="caption">
                    <p><strong>Black Riven Slate Effect Hearth</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/MCGranite.jpg" alt="Granite Hearth" title="Granite Hearth" ; />
                <div class="caption">
                    <p><strong>Granite Hearth</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/MCNatural.jpg" alt="Polished Natural Slate Hearth" title="Polished Natural Slate Hearth" ; />
                <div class="caption">
                    <p><strong>Polished Natural Slate Hearth</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <h2><strong>Beams</strong></h2>
        <hr />
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Unfinishedbeam.jpg" alt="Unfinished effect Beam" title="Unfinished effect Beam" ; />
                <div class="caption">
                    <p><strong>Unfinished effect Beam</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Waxedbeam.jpg" alt="Waxed Beam" title="Waxed Beam" ; />
                <div class="caption">
                    <p><strong>Waxed Beam</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/vaneeredbeam.jpg" alt="Vaneered Beam" title="Vaneered Beam" ; />
                <div class="caption">
                    <p><strong>Vaneered Beam</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Lightbeam.jpg" alt="Light Brown Beam" title="Light Brown Beam" ; />
                <div class="caption">
                    <p><strong>Light Brown Beam</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Mediumbeam.jpg" alt="Medium Brown Beam" title="Medium Brown Beam" ; />
                <div class="caption">
                    <p><strong>Medium Brown Beam</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Darkbeam.jpg" alt="Dark Brown Beam" title="Dark Brown Beam" ; />
                <div class="caption">
                    <p><strong>Dark Brown Beam</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        <h2><strong>Inglenook Chamber Liners</strong></h2>
        <hr />
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/silverchamber.jpg" alt="Silver / Grey Chamber Liner" title="Silver / Grey Chamber Liner" ; />
                <div class="caption">
                    <p><strong>Silver / Grey Chamber Liner</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Sunsetchamber.jpg" alt="Sunset Block Bond Chamber Liner" title="Sunset Block Bond Chamber Liner" ; />
                <div class="caption">
                    <p><strong>Sunset Block Bond Chamber Liner</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/3piecebrick.jpg" alt="3 Piece Brick Chamber Liner" title="3 Piece Brick Chamber Liner" ; />
                <div class="caption">
                    <p><strong>3 Piece Brick Chamber Liner</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Blackchamber.jpg" alt="Maxi Black Chamber Liner" title="Maxi Black Chamber Liner" ; />
                <div class="caption">
                    <p><strong>Maxi Black Chamber Liner</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Antiquechamber.jpg" alt="Antique Chamber Liner" title="Antique Chamber Liner" ; />
                <div class="caption">
                    <p><strong>Antique Chamber Liner</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/Whitechamber.jpg" alt="White Quartz Chamber Liner" title="White Quartz Chamber Liner" ; />
                <div class="caption">
                    <p><strong>White Quartz Chamber Liner</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <p><img src="~/images/penmanlogo.jpg" class="img-responsive" /></p>
    <h3><strong>View our range below brought to you by our leading supplier The Penman Collection</strong></h3>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/limestonechamber.jpg" alt="Natural Limestone Block Chamber Liner" title="Natural Limestone Block Chamber Liner" ; />
                <div class="caption">
                    <p><strong>Natural Limestone Block Chamber Liner</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/limestonehearth.jpg" alt="Portuguese Limestone Hearth" title="Portuguese Limestone Hearth" ; />
                <div class="caption">
                    <p><strong>Portuguese Limestone Hearth</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/PCrusticbeam.jpg" alt="Rustic Light Oak Geocast Beam" title="Rustic Light Oak Geocast Beam" ; />
                <div class="caption">
                    <p><strong>Rustic Light Oak Geocast Beam</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

