@page
@model VLProducts.Pages.WoodBurningModel
@{
    ViewData["Title"] = "Wood Burning Stoves Bradford";
}
<hr />
<h1><strong>Wood Burning Stoves</strong></h1>
<hr />
<p>
    As a heat source, wood burning stoves are very energy efficient. The wood used to fuel the stove is also much cheaper compared to electricity, gas or oil.
    The biggest advantage homeowners have with a wood burning stove is the quality of heat the unit gives off. Wood burning stoves burn all types of wood.
    Hardwood logs are denser than softwood, giving more heat output.
</p>
<hr />
<p><img src="~/images/burleylogo.jpg" class="img-responsive" /></p>
<h3><strong>Burley Firecube and Fireball Wood Burning Stoves range</strong></h3>
<hr class="invisible" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/BULaundeW.jpg" alt="Burley Launde Firecube" title="Burley Launde Firecube" ; />
                <div class="caption">
                    <h3>The Launde 9304 - Firecube Woodburner</h3>
                    <p>
                        Contemporary feel thanks to the large steel door design. Outstanding efficiency, large windows and convection technology all come as standard with this range.
                    </p>
                    <p>&#9733; Nominal Heat Output - 4 kW &#9733;</p>
                    <p><img src="~/images/burllogo.jpg" /></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/BUCarlbyW.jpg" alt="Burley Carlby Firecube" title="Burley Carlby Firecube" ; />
                <div class="caption">
                    <h3>The Carlby 9307 - Firecube Woodburner</h3>
                    <p>
                        The Carlby like all of the Burley stoves is an extremely efficient and clean burning stove.
                        The Carlby 9307 is a tall stove with a tall door and large viewing glass which provides a fabulous view of the renowned Burley flame picture.
                    </p>
                    <p>&#9733; Nominal Heat Output - 7 kW &#9733;</p>
                    <p><img src="~/images/burllogo.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/BUHollywellW.jpg" alt="Burley Hollywell Fireball" title="Burley Hollywell Fireball" ; />
                <div class="caption">
                    <h3>The Hollywell 9105 - Fireball Woodburner</h3>
                    <p>Double Glazed large viewing window to maximise radiation of heat with unique Fireball technology making Burley stoves one of the most efficient in the world.</p>
                    <p>&#9733; Nominal Heat Output - 5 kW &#9733;</p>
                    <p><img src="~/images/burllogo.jpg" /></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/BUSpringdaleW.jpg" alt="Burley Springdale Fireball" title="Burley Springdale Fireball" ; />
                <div class="caption">
                    <h3>The Springdale 9103 - Fireball Woodburner</h3>
                    <p>With a matt black finish, this is the smallest model available in the Burley range of highly efficient wood burning stoves.</p>
                    <p>&#9733; Nominal Heat Output - 3 kW &#9733;</p>
                    <p><img src="~/images/burllogo.jpg" /></p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/BUDebdaleW.jpg" alt="Burley Debdale Fireball" title="Burley Debdale Fireball" ; />
                <div class="caption">
                    <h3>The Debdale 9104 - Fireball Woodburner</h3>
                    <p>The Debdale is a delightful DEFRA approved stove for the medium sized room.</p>
                    <p>&#9733; Nominal Heat Output - 4 kW &#9733;</p>
                    <p><img src="~/images/burllogo.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<p><img src="~/images/hunterlogo.jpg" class="img-responsive" /></p>
<h3><strong>The Hunter Stoves Group Wood Burning range includes Parkray, Di Lusso and Avalon brands</strong></h3>
<hr class="invisible" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/HC5CW.jpg" alt="Hunter Parkray Consort 5 Compact" title="Hunter Parkray Consort 5 Compact" ; />
                <div class="caption">
                    <h3>The Consort 5 Compact - Parkray Woodburner</h3>
                    <p>The Parkray Compact Consort 5 wood burning stove has all the glamour and features of a full sized model but it fits in better with today's compact homes.</p>
                    <p>&#9733; Nominal Heat Output - 4.7 kW &#9733;</p>
                    <p><img src="~/images/huntlogo.jpg" /></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/HC4W.jpg" alt="Hunter Parkray Consort 4" title="Hunter Parkray Consort 4" ; />
                <div class="caption">
                    <h3>The Consort 4 - Parkray Woodburner</h3>
                    <p>The Parkray Consort 4 Wood Burning Stove is the smallest in the Consort range but packs a hefty heat output.</p>
                    <p>&#9733; Nominal Heat Output - 4.4 kW &#9733;</p>
                    <p><img src="~/images/huntlogo.jpg" /></p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img class="media-object" src="~/images/HA4W.jpg" alt="Hunter Parkray Aspect 4" title="Hunter Parkray Aspect 4" ; />
                <div class="caption">
                    <h3>The Aspect 4 - Parkray Woodburner</h3>
                    <p>Made from steel, The Aspect 4 Compact is the smallest stove in the Aspect wood burning stove range</p>
                    <p>&#9733; Nominal Heat Output - 4.9 kW &#9733;</p>
                    <p><img src="~/images/huntlogo.jpg" /></p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img class="media-object" src="~/images/HA5W.jpg" alt="Hunter Parkray Aspect 5" title="Hunter Parkray Aspect 5" ; />
                        <div class="caption">
                            <h3>The Aspect 5 - Parkray Woodburner</h3>
                            <p>The Parkray Aspect 5 Stove is a modern design woodburner featuring a large viewing glass for exceptional views of the woodburning flames.</p>
                            <p>&#9733; Nominal Heat Output - 4.9 kW &#9733;</p>
                            <p><img src="~/images/huntlogo.jpg" /></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img class="media-object" src="~/images/HA5slimW.jpg" alt="Hunter Parkray Aspect 5 Slimline" title="Hunter Parkray Aspect 5 Slimline" ; />
                        <div class="caption">
                            <h3>The Aspect 5 Slimline - Parkray Woodburner</h3>
                            <p>The Parkray Aspect 5 Slimline wood burning stove packs in all the features of the Aspect 5 but in slimmer box. Designed to sit upon a shallow hearth.</p>
                            <p>&#9733; Nominal Heat Output - 4.9 kW &#9733;</p>
                            <p><img src="~/images/huntlogo.jpg" /></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail">
                        <img class="media-object" src="~/images/HA8slimW.jpg" alt="Hunter Parkray Aspect 8 Slimline" title="Hunter Parkray Aspect 8 Slimline" ; />
                        <div class="caption">
                            <h3>The Aspect 8 Slimline - Parkray Woodburner</h3>
                            <p>
                                The Parkray Aspect 8 Slimline wood burning stove is the largest stove in the Aspect range. Designed especially for modern homes with shallow hearths and fireplaces,
                                the Aspect 8 gives the appearance of a much larger stove thanks to it's portrait window that almost fills the door.
                            </p>
                            <p>&#9733; Nominal Heat Output - 4.9 kW &#9733;</p>
                            <p><img src="~/images/huntlogo.jpg" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/HEuroR5W.jpg" alt="Hunter Di Lusso Euro R5" title="Hunter Di Lusso Euro R5" ; />
                <div class="caption">
                    <h3>The Di Lusso Euro R5 Woodburner</h3>
                    <p>The Di Lusso Euro R5 stove offers both style and substance featuring a generous view of the fire and stylish looks, with its cutting edge ‘Flame Blade’ technology.</p>
                    <p>&#9733; Nominal Heat Output - 4.9 kW &#9733;</p>
                    <p><img src="~/images/huntlogo.jpg" /></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/HAV4W.jpg" alt="Hunter Avalon 4" title="Hunter Avalon 4" ; />
                <div class="caption">
                    <h3>The Avalon 4 Woodburner</h3>
                    <p>The Avalon 4 is a hard working stove that will serve you for decades and its elegant appearance will never age.</p>
                    <p>&#9733; Nominal Heat Output - 4.5 kW &#9733;</p>
                    <p><img src="~/images/huntlogo.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<p><img src="~/images/worcesterboschlogo.jpg" class="img-responsive" /></p>
<h3><strong>Worcester Greenstyle Wood Burning Stoves</strong></h3>
<hr class="invisible" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/WBBewdleyW.jpg" alt="Worcester-Bosch Bewdley" title="Worcester-Bosch Bewdley" ; />
                <div class="caption">
                    <h3>The Bewdley Woodburner</h3>
                    <p>
                        Sleek and sophisticated, this steel stove makes an eye catching addition to any room. A perfect choice for making a contemporary statement,
                        with the optional extra of a co-ordinating wood store. Rapid heat-up time and very high heat transfer rate.
                    </p>
                    <p>&#9733; Nominal Heat Output - 5 kW &#9733;</p>
                    <p><img src="~/images/worcesterlogo.jpg" /></p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img class="media-object" src="~/images/WBHanburyW.jpg" alt="Worcester-Bosch Hanbury" title="Worcester-Bosch Hanbury" ; />
                <div class="caption">
                    <h3>The Hanbury Woodburner</h3>
                    <p>
                        Traditional wood burning stove stove made from high quality cast iron, the Hanbury provides exceptional strength and resistance which ensures a very long life.
                        Finished in a sophisticated matt black and is available in a range of sizes suitable for all rooms.
                    </p>
                    <p>&#9733; Nominal Heat Output - 5 kW &#9733;</p>
                    <p><img src="~/images/worcesterlogo.jpg" /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <p><img src="~/images/broseleylogo.jpg" class="img-responsive" /></p>
                <img class="media-object" src="~/images/BRHotspurW.jpg" alt="Broseley Hotspur 5" title="Broseley Hotspur 5" ; />
                <div class="caption">
                    <h3>The Hotspur 5 Woodburner</h3>
                    <p>
                        The Broseley Hotspur 5 features a full length chrome handle and has a large window giving a good view of the fire.
                        Defra approved for smokeless zones, the Hotspur 5 is Ecodesign ready.
                    </p>
                    <p>&#9733; Nominal Heat Output - 5 kW &#9733;</p>
                    <p><img src="~/images/brologo.jpg" /></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <p><img src="~/images/towncountrylogo.png" class="img-responsive" /></p>
                <img class="media-object" src="~/images/TCPickeringMF.jpg" alt="Town and Country Fires Pickering Eco Smoke Control" title="Town and Country Fires Pickering Eco Smoke Control" ; />
                <div class="caption">
                    <h3>The Pickering Eco Smoke Control Woodburner</h3>
                    <p>It’s stylish modern body and large window creates stunning visuals in any home.</p>
                    <p>&#9733; Nominal Heat Output - 5 kW &#9733;</p>
                    <p><img src="~/images/townclogo.png" /></p>
                </div>
            </div>
        </div>
    </div>
</div>